/* Add application styles & imports to this file! */

@import url("https://www.w3schools.com/w3css/4/w3.css");

body, html {
  height: 100%;
  font-size: 5vh;
  font-family: 'Fredoka One', cursive;
  color: #fff;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.ck-text-shadow {
  text-shadow: 0.5vh 0.5vh 0 rgba(0,0,0,1);
}

.ck-xsmall {
  font-size: 0.6em;
}

.ck-small {
  font-size: 0.8em;
}

.ck-large {
  font-size: 1.2em;
}

.ck-xlarge {
  font-size: 1.5em;
}

.ck-xxlarge {
  font-size:2em;
}

.ck-fs {
  width: 100%;
  height: 100%;
}

.ck-fs-abs {
  position: absolute;
  top: 0;
  left: 0;
  @extend .ck-fs;
}

.ck-fs-rel {
  position: relative;
  @extend .ck-fs;
}

canvas {
  display: block;
}

.ck-piece {
  width: 10vh;
  height: 10vh;
  line-height: 10vh;
  text-align: center;
  text-shadow: none;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 1vh 1vh 1vh 0 #000;
}

.ck-piece.ck-black {
  background-color:#000;
  color : #fff;
}

.ck-piece.ck-white {
  background-color: #fff;
  color: #000;
}

.ck-nowrap {
  white-space: nowrap;
}

.ck-dark-overlay {
  background-color: rgba(0,0,0,0.5);
}

.ck-menu-item {
  display: block;
  @extend .ck-text-shadow;
}

.ck-menu-item.ck-menu-item-button {
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.ck-menu-item.ck-menu-item-button:hover {
  /*font-size: 1.2em; */
  transform: scale(1.2);
}

.ck-turn-timer {
  width: 50vw;
  padding: 16px;
  position: relative;
  box-shadow: 0.5vh 0.5vh 2vh 0 #000;  
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  transition: color 0.3s, background-color 0.3s;
  .ck-time {
    float: right;
    span {
      width : 0.6em;
      text-align: center;
      display: inline-block;
    }
  }
  .ck-player {

  }
}

.ck-turn-timer.ck-white {
  background-color: #fff;
  color: #000;
}

.ck-turn-timer.ck-black {
  background-color: #000;
  color: #fff;
}


